<h1>Listing Voters for <%= params[:search_string] %></h1>

<table>
  <tr>
	<th>Voter_Id</th>
    <th>Name</th>
    <th>Constituency</th>
    <th>Voted</th>
  </tr>

<% for voter in @voters %>
  <tr>
	<td><%= voter.id  %></td>
    <td><%= voter.name  %></td>
    <td><%= voter.constituency %></td>
	<td><%= voter.vote  %></td>
    <td><a href="/voters/<%= voter.id %>/edit">Edit</a></td>
    <td><a href="/voters/<%= voter.id %>/delete">Delete</a></td>
  </tr>
<% end %>
</table>

<br />
<a href="/voters">Back</a>

